[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
wtforms = "*"
flask-mde = "*"
autopep8 = "*"
flask-autoindex = "*"
python-dotenv = "*"
pywebview = {extras = ["qt"], version = "*"}
vext = "*"
"vext.gi" = "*"

[dev-packages]

[requires]
python_version = "3.8"
